/* Write your CSS here */

.menu-item {
  padding: 0;
  margin-right: 40px;
  font-weight: 600;
  cursor: pointer;
}
.active {
  border: 2px solid #0284c7;
  padding: 3px 15px;
  border-radius: 50px;
  color: #0284c7;
  transition: ease-in 1ms;
}
